In [38]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("desafio1.csv")

In [3]:
df

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,3e607c788c09d6e1f99cc50575e471fee41a322a,ef547badb8b0801d06a93155cc052341c749d1c0,633,SC,F,32,1,104001.38,1,0,1
6996,6997,2afdb40334e1bef3451f3db02b12c255c7a9ff57,e3eb2eea41a60b08392da20a49543d05ac484255,623,RS,F,50,2,87116.71,1,1,1
6997,6998,6a0589e36c12f95a8d3678b460519ed654fe0a3e,e65e12a7eb4e0b15e6d3afb127ce38c0a5303188,611,SC,M,68,5,82547.11,2,1,1
6998,6999,c042de909a1fb157765c84c3278d8e6500807367,a52bbf77611eab47a6eff8641a1a9bd01006acbe,666,RS,F,47,5,0.00,1,0,0
6999,7000,cdce83890ea1d7b64b2caaaea76f499cb5dfe684,2265b3657cc5e97382dc46819e3937c363fe165e,521,SC,M,27,4,121325.84,1,1,1

In [29]:
grupo = df.groupby("estado_residencia").pontuacao_credito.agg(["mean","median","std"])

In [56]:
grupo = df.groupby("estado_residencia").agg(mediana=("pontuacao_credito","median"),
                                            media=("pontuacao_credito","mean"),
                                            desvio_padrao=("pontuacao_credito","std")
                                           )

In [57]:
grupo

                   mediana       media  desvio_padrao
estado_residencia
PR                     650  648.961294      98.607186
RS                     650  651.105143      95.136598
SC                     653  649.537653      97.233493

In [58]:
dici = grupo.to_dict('index')

In [66]:
dici

{'PR': {'mediana': 650,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755,
  'moda': 850},
 'RS': {'mediana': 650,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358,
  'moda': 850},
 'SC': {'mediana': 653,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314,
  'moda': 850}}

In [70]:
for i in df.estado_residencia.unique():
    dici[i]["moda"]=int(df[df["estado_residencia"]==i].pontuacao_credito.mode()[0])

In [71]:
dici

{'PR': {'mediana': 650,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755,
  'moda': 850},
 'RS': {'mediana': 650,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358,
  'moda': 850},
 'SC': {'mediana': 653,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314,
  'moda': 850}}

In [73]:
with open('submission.json', 'w') as fp:
    json.dump(dici, fp,sort_keys=True, indent=4)